@using System
@using System.Linq
@using BrickJam;
@using BrickJam.Player
@using Sandbox
@using Sandbox.UI;
@inherits Panel;
@attribute [StyleSheet]

<root style="position: absolute; @GetPositionStyles(); @GetVisibleStyles()">    
    <img src=@Item.Asset.ImagePath style="width: @(Item.Asset.Length * 100)px; height:  @(Item.Asset.Height * 100)px" />
    @if (Item.Asset.Stackable)
    {
        <div class="quantity">@Item.Quantity</div>
    }
</root>

@code
{
    public InventoryReference Item { get; set; }
    
    public InventoryPane InventoryPane { get; set; }
    
    private bool Selected { get; set; }
    
    private Vector2 MouseLocation { get; set; }
    
    public InventoryActionMenu ActionMenu { get; set; }

    protected override void OnMouseDown(MousePanelEvent e)
    {
        if(HasMouseCapture) return;
        
        ActionMenu = InventoryActionMenu.Create(this);
    }

    public void Select()
    {
        Mouse.Position = Box.Rect.Position + Box.Rect.Size * 0.5f;
        
        Selected = true;
        SetMouseCapture( true );
        InventoryPane.SelectedItem = Item;
    }

    public void Deselect()
    {
        ActionMenu?.Delete();
        
        if (!Selected)
            return;
        
        // Attempt to move Item position.
        var inv = InventoryPane.Inventory;
        var loc = new InvCoord((MouseLocation.x / 100).FloorToInt(), (MouseLocation.y / 100).FloorToInt());
        inv.PlaceItem(Item, loc);
        
        Selected = false;
        SetMouseCapture( false );
        InventoryPane.SelectedItem = null;

        Mouse.Position = Box.Rect.Position + Box.Rect.Size * 0.5f + MouseLocation * ScaleToScreen;
    }

    string GetPositionStyles()
    {
        return $"left: {Item.Position.X * 100}px; top: {Item.Position.Y * 100}px";
    }
    
    string GetVisibleStyles()
    {
        return Selected ? "display: none" : "display: flex";
    }

    public override void Tick()
    {
        if (Selected && HasMouseCapture)
        {
            Mouse.Position = Box.Rect.Position + Box.Rect.Size * 0.5f + MouseLocation * ScaleToScreen;
            MouseLocation += Mouse.Delta * ScaleFromScreen;
            MouseLocation = MouseLocation.Clamp(
                Vector2.Zero, 
                new Vector2(
                    InventoryPane.Inventory.SlotsX * 100 - Item.Asset.Length * 100, 
                    InventoryPane.Inventory.SlotsY * 100 - Item.Asset.Height * 100)
                );

            InventoryPane.MouseLocation = MouseLocation;
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Time.Now);
    }
}
